<form action='/forget_password' method='POST' class="forget-password__form">
    <div class="form-group">
        <label for="exampleInputEmail1">Tài khoản</label>
        <input class="form-control" placeholder="Nhập tài khoản" name="username">
    </div>
    <button type="submit" class="btn btn-primary">Gửi mã xác nhận</button>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const forgetPasswordForm = document.querySelector('.password__form');
        forgetPasswordForm.onsubmit = function(e) {
            e.preventDefault();
            forgetPasswordForm.submit();
        }
    })
</script>

