<form method="POST" action= "/confirm_reset_password?_method=PATCH" class="forget-password__form">
    <div class="form-group">
        <label for="exampleInputEmail1">Mật khẩu mới</label>
        <input class="form-control" placeholder="Nhập mật khẩu" name="newPassword">
    </div>
    <div class="form-group" style="display: none">
        <label for="exampleInputEmail1">Mã kích hoạt</label>
        <input class="form-control" placeholder="Nhập tài khoản" name="username">
    </div>
    <button type="submit" class="btn btn-primary btn-changePassword">Xác nhận</button>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const forgetPasswordForm = document.querySelector('.forget-password__form');
        const inputAccess = document.querySelector('input[name="username"]');
        const buttonChangePassword = document.querySelector('.btn-changePassword');
        const url = window.location.href;
        inputAccess.value = url.slice(37);
        forgetPasswordForm.onsubmit = function(e) {
            e.preventDefault();
            forgetPasswordForm.submit();
        }
    })
</script>